<div style="background-color: rgba(0, 0, 0, 0.05) ; height:100%; position: absolute;width: 20%;"    >
    <div class="list-group list-group-flush"
    style="height: 100vh; display: flex;flex-direction: column; 
justify-content: stretch;">
      <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    </div>
    <div style="position: absolute; left: 0; bottom: 0; width: 100;" >
        <div class="text-center p-0 " >
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>

    </div>
  </div> 
