<app-header></app-header>
<select  class="form-control"[(ngModel)]="SelectCategoryId">
    <option selected value=0>Choose Your Category</option>
    <option *ngFor="let prd of categortList" [value]="prd.id">{{prd.name}}</option>
  </select> 
<hr>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th> 
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Details</th>

      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prd of productListByCatId" [hidden]="prd.categoryId != SelectCategoryId"> 
      <td> {{prd.id}} </td>
      <td> {{prd.name}} </td>
      <td> 
        <img [src]="prd.imageURL" style="width: 100px; height: 100px;">    
    </td>
      <td> {{prd.price}} </td>
      <td> {{prd.quantity}} </td>
      <td> 
        <button type="button" class="btn btn-info" 
        style="background-color: rgba(0, 0, 0, 0.05);border-color:  rgba(0, 0, 0, 0.05);"
        >Details</button>
    
    </td>
</tr>
    </tbody>
  </table>